<!doctype html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8" />
    <title>Controls</title>
    <script type="text/javascript" src="assets/phaser.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
    <style type="text/css">
        body {
            margin: 0;
        }
    </style>
</head>
<body>

<div id='menu' style="width:1200px;height:700px;">
<center><button><a href="/menu">Menu</a></button></center>
</div>

    </body>
</html>