<!doctype html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8" />
    <title>Controls</title>
    <script type="text/javascript" src="assets/phaser.min.js"></script>
    <script type="text/javascript" src="assets/menu.js.erb"></script>
    <link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
    <style type="text/css">
        body {
            margin: 0;
        }
    </style>
</head>
<body>

<div id='menu' style="width:1200px;height:700px;background-image:url('assets/controlPage.gif');background-size:100%;">
	
	<audio autoplay loop><source src="assets/audio/OddLook.mp3" type="audio/mpeg"></audio>

	<audio id="menuNoise1" preload="auto">
		<source src="assets/audio/button-3.mp3">
	</audio>

	<audio id="menuNoise2" preload="auto">
		<source src="assets/audio/button-16.mp3">
	</audio>
	
	<center><button class="menubutton"><a href="/menu">Menu</a></button></center><br>
	

	<div id="story">
		The Story So Far...<br>
		<div id="content">
			<br>
			Blah blah blah blah blah
		</div>
	</div>

	<div id="controlDiv">
		<u>Aim and Shoot:</u><br><br>
		<img id="compMouse" src="assets/comp_mouse.png">
		<br><br>
		<div id="move">
		<u>Move Player:</u><br><br>
		<img src="assets/computercursors.png">
		</div><br>
		<u>Melee:</u><br><br>
		<img src="assets/spacebar.png"><br>
	</div>

</div>
    </body>
</html>