<!doctype html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8" />
    <title>Menu</title>
    <script type="text/javascript" src="assets/phaser.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
    <style type="text/css">
        body {
            margin: 0;
        }
    </style>
</head>
<body>
<div id='menu' style="width:1200px;height:700px;background-image:url('assets/timetravel.jpg');">
	<audio autoplay><source src="assets/OddLook.mp3" type="audio/mpeg"></audio>
	
	<div id='gametitle'>
		Window of Time
	</div>

	<div id='options'>
		<button><a href="/">Start</a></button><br>
		<button><a href="/controls">Controls</a></button>
	</div>

</div>

    </body>
</html>